.contain {
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px; /* tuỳ chọn */
  }

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* đảm bảo ảnh không bị méo */
    transition: transform 0.3s ease;
}
body div div .contain img:hover {
    transform: scale(1.3); /* phóng to nhưng không ảnh hưởng layout */
}


#wrapper{
    display: flex;
    /* flex-direction: ; */
}

nav {
    height: 100px;
}

nav div div img{
    width: 60px;
    height: 60px;
}